@import '../core.scss';

@include minw( 968px ) {
  .main {
    height: 100vh;
  }
  .full-page-slider {
    height: 100vh;

    .full-page-slider__pagination {
      right: 3rem;
      top: 9rem;
      width: 2rem;
      bottom: 9rem;
      transform: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .swiper-pagination-bullet {
        opacity: 1;
        width: 1.3rem;
        height: 1.3rem;
        background: transparent;
        
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 0.5rem;
          height: 0.5rem;
          border: 0.4rem solid #3a30f8;
          transition: all 0.3s ease-in-out;
        }
      }
      .swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
        &:after {
          width: 1.3rem;
          height: 1.3rem;
          border: 0.1rem solid #3a30f8;
        }
        
      }

      .swiper-pagination-bullet:first-child {
        &:before {
          content: '';
          position: absolute;
          pointer-events: none;
          height: 100vh;
          bottom: 100%;
          left: 50%;
          margin-left: -1px;
          margin-bottom: 1.5rem;
          width: 1px;
          background-color: #3a30f8;
        }
      }
      .swiper-pagination-bullet:last-child {
        &:before {
          content: '';
          position: absolute;
          pointer-events: none;
          height: 100vh;
          top: 100%;
          left: 50%;
          margin-left: -1px;
          margin-top: 1.5rem;
          width: 1px;
          background-color: #3a30f8;
        }
      }
    }
  }

  .section {
    height: 100vh;
    overflow: auto;
    &__wrapper {

    }
  }

  .speller-check {
    font-size: 8rem;
    font-family: 'RubikMonoOne', sans-serif;
    max-width: 65rem;
  }

  .section {
    padding-top: 10rem;
    &__wrapper {
      
    }
    &__container {
  
    }
    &__text-wrapper {
  
    }
    &__title {
    
    }
    &__sub-title {
      font-size: 2rem;
      
    }
    &__sup-title {
      
    }
  }
  .section--first {
    overflow: hidden;
    .section__wrapper {
      height: 100%;
      background-image: url('../../images/content/decor-1.png');
      background-position: left top;
      background-size: contain;
      background-repeat: no-repeat;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .section__container {
      width: 100%;
    }
    .section__text-wrapper {
      
    }
    .section__video-wrapper {
      position: absolute;
      top: 50%;transform: translateY(-50%);
      margin-top: -5rem;
      right: 0;
      width: 55%;
      max-height: 80vh;
      max-height: calc(100vh - 20rem);
    }
    .section__title {
      font-size: 8rem;
      margin-top: 0;
      max-width: 65rem;
      z-index: 20;
      pointer-events: none;
      span {
        pointer-events: all;
        display: inline-block;
      }
    }
    .section__sub-title-wrapper {
      max-width: 35rem;
    }
    .section__sub-title {
      background-color: transparent;
    }
    .section__decor-arrow {
      margin-top: 1rem;
      margin-left: 4rem;
    }
    
  }

  /* ----- BEGIN video-wrapper ----- */
  .video-wrapper {
    
    &__play-btn {
      top: 50%;
      right: 100%;
      padding-right: 2rem;
      transform: translateX(50%);
      
    }
  }
  /* ----- END video-wrapper ----- */

  /* ----- BEGIN play-btn ----- */
  .play-btn {
    // pointer-events: none;
    &__icon {
      width: 6.5rem;
      height: 6.5rem;
      svg {
        transition: transform 0.5s ease-in-out;
      }
    }
    &__text {
      font-size: 1.2rem;
      
    }
    &__text-inner {
      transition: color 0.3s ease-in-out;
    }
    &__border {
      left: auto;
      right: 100%;
      transform: scaleX(-1);
      margin-right: 1rem;
      height: 7rem;
      overflow: hidden;
      
      svg {
        position: absolute;
        bottom: 0;
        path {
          stroke-dasharray: 200;
          stroke-dashoffset: 0;
        }
      }
    }

    &.hover {
      
      .play-btn__text-inner {
        color: #3a30f8;
      }
      .play-btn__icon {
        svg{
          transform: scale(1.3);
        }
      }
      .play-btn__border {
        // opacity: 0;
      //   svg {
      //     path {
      //       stroke-dashoffset: -200;
      //     }
      //     circle {
      //       opacity: 0;
      //     }
      //   }
      }
    }
  }
  /* ----- END play-btn ----- */
} 
