@import '../core.scss';

@include minw( 968px ) {
  .main {
    height: 100vh;
  }
  .full-page-slider {
    height: 100vh;

    .container {
      padding: 0 5rem;
    }

    .full-page-slider__pagination {
      right: 3rem;
      top: 9rem;
      width: 2rem;
      bottom: 9rem;
      transform: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      pointer-events: none;

      .swiper-pagination-bullet {
        opacity: 1;
        width: 1.3rem;
        height: 1.3rem;
        background: transparent;
        pointer-events: all;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 0.5rem;
          height: 0.5rem;
          border: 0.4rem solid #3a30f8;
          transition: all 0.3s ease-in-out;
        }
      }
      .swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
        &:after {
          width: 1.3rem;
          height: 1.3rem;
          border: 0.1rem solid #3a30f8;
        }
        
      }

      .swiper-pagination-bullet:first-child {
        &:before {
          content: '';
          position: absolute;
          pointer-events: none;
          height: 100vh;
          bottom: 100%;
          left: 50%;
          margin-left: -1px;
          margin-bottom: 1.5rem;
          width: 1px;
          background-color: #3a30f8;
        }
      }
      .swiper-pagination-bullet:last-child {
        &:before {
          content: '';
          position: absolute;
          pointer-events: none;
          height: 100vh;
          top: 100%;
          left: 50%;
          margin-left: -1px;
          margin-top: 1.5rem;
          width: 1px;
          background-color: #3a30f8;
        }
      }
    }
  }

  .section {
    height: 100vh;
    overflow: auto;
    &__wrapper {

    }
  }

  .speller-check {
    font-size: 6rem;
    font-family: 'RubikMonoOne', sans-serif;
    // max-width: 65rem;

    @include minw(1440px) {
      font-size: 8rem;
    }
  }

  .section {
    padding-top: 10rem;
    &__wrapper {
      
    }
    &__container {
  
    }
    &__text-wrapper {
  
    }
    &__title {
    
    }
    &__sub-title {
      font-size: 2rem;
      
    }
    &__sup-title {
      
    }
  }


  /* ----- BEGIN section--first ----- */
  .section--first {
    overflow: hidden;
    .section__wrapper {
      height: auto;
      min-height: 100%;
      background-image: url('../../images/content/decor-1.png');
      background-position: left top;
      background-size: contain;
      background-repeat: no-repeat;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .section__container {
      width: 100%;
    }
    .section__text-wrapper {
      
    }
    .section__video-wrapper {
      position: absolute;
      top: 50%;transform: translateY(-50%);
      margin-top: -5rem;
      right: 0;
      width: 55%;
      max-height: 80vh;
      max-height: calc(100vh - 20rem);
      &:before {
        padding-top: Min( 100%, 80vh );
        padding-top: Min( 100%, calc(100vh - 20rem) );
      }
    }
    .section__title {
      font-size: 7rem;
      margin-top: 0;
      max-width: none;
      z-index: 20;
      pointer-events: none;
      @include minw(1440px) {
        font-size: 8rem;
      }
      span {
        pointer-events: all;
        display: inline-block;
      }
    }
    .section__sub-title-wrapper {
      max-width: 35rem;
    }
    .section__sub-title {
      background-color: transparent;
    }
    .section__decor-arrow {
      margin-top: 1rem;
      margin-left: 4rem;
    }
    
  }
  /* ----- END section--first ----- */


  /* ----- BEGIN video-wrapper ----- */
  .video-wrapper {
    
    &__play-btn {
      top: 5rem;
      right: 100%;
      padding-right: 2rem;
      transform: translateX(50%);
      
    }
  }
  /* ----- END video-wrapper ----- */


  /* ----- BEGIN play-btn ----- */
  .play-btn {
    // pointer-events: none;
    &__icon {
      width: 6.5rem;
      height: 6.5rem;
      svg {
        transition: all 0.5s ease-in-out;
        max-width: initial;
        max-height: initial;
        width: 100%;
        height: 100%;
      }
    }
    &__text {
      font-size: 1.2rem;
      
    }
    &__text-inner {
      transition: color 0.3s ease-in-out;
    }
    &__border {
      left: auto;
      right: 100%;
      transform: scaleX(-1);
      margin-right: 1rem;
      height: 5rem;
      overflow: hidden;
      
      svg {
        position: absolute;
        bottom: 0;
        path {
          stroke-dasharray: 200;
          stroke-dashoffset: 0;
        }
      }
    }

    &.hover {
      
      .play-btn__text-inner {
        color: #3a30f8;
      }
      .play-btn__icon {
        svg{
          width: 130%;
          height: 130%;
          
        }
      }
      .play-btn__border {
        // opacity: 0;
      //   svg {
      //     path {
      //       stroke-dashoffset: -200;
      //     }
      //     circle {
      //       opacity: 0;
      //     }
      //   }
      }
    }
  }
  /* ----- END play-btn ----- */


  /* ----- BEGIN list ----- */
  .list {
    padding: 0;

    &__item {
      font-size: 1.8rem;
      &:not(:last-child) {
        margin-bottom: 3.5rem;
      }
    }
  }
  /* ----- END list ----- */

  /* ----- BEGIN section-advantages ----- */
  .section--advantages {
    .section__decor-text {
      display: block;
      position: absolute;
      font-family: 'RubikMonoOne', sans-serif;
      font-size: 17rem;
      line-height: 1em;
      color: rgba(#ccc, 0.2);
      text-align: right;
      transform-origin: bottom right;
      transform: translateY(-100%) rotate(-90deg);
      z-index: -1;
      top: 10rem;
      right: 5rem;
      
    }
    .section__wrapper {
      min-height: 100%;
      
      // position: static;
    }
    .container {
      position: static;
      display: flex;
      justify-content: flex-end;
    }
    .video-wrapper {
      position: absolute;
      top: 10rem;
      // transform: translateY(-50%);
      margin-top: -5rem;
      margin-left: 0;
      margin-right: 0;
      left: 0;
      width: 40%;
      max-height: 80vh;
      max-height: calc(100vh - 20rem);
      &:before {
        padding-top: 100%;
        padding-top: Min(100% , 80vh);
        padding-top: Min(100% , calc(100vh - 20rem));
      }
    }
    .section__text-wrapper {
      margin-top: 15rem;
      width: 30%;
      width: calc( (60vw - (100vw - 100%)/2)/2 );
      max-width: none;
      padding-left: 7rem;
      padding-right: 0;
    }
    .color-slider {
      margin-top: 45rem;
      width: 30%;
      width: calc( (60vw - (100vw - 100%)/2)/2 );

      margin-left: 0;
      margin-right: 0;
      padding: 0 2rem;

      .section__title {
        width: 25rem;
        max-width: 75%;
        margin-left: auto;
        margin-right: 0;
        
      }
      .section__sub-title {
        width: 25rem;
        max-width: 75%;
        margin-left: auto;
        margin-right: 0;
      }
    }
    .section__sup-title-wrapper {

    }
    .section__sup-title {
      font-size: 2rem;
      margin-bottom: 8rem;
    }
    .section__title {
      font-size: 4rem;
      margin-bottom: 5rem;
    }
    .section__sub-title {
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
    
    .section__list-wrapper {

    }
    .section__list-title {

    }
    .section__list {

    }
    .section__list-item {
      
    }
  }
  /* ----- END section-advantages ----- */

  /* ----- BEGIN color-slider ----- */
  .color-slider {
    &__border {
      position: absolute;
      display: block;
      top: 50%;
      right: 100%;
      margin-right: 4rem;
    }
  }
  /* ----- END color-slider ----- */

  /* ----- BEGIN section--specification----- */
  .section--specification {
    .section__wrapper {
      min-height: 100%;
      background-image: url('../../images/content/decor-1.png');
      background-position: left top;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .container {
      position: static;
      display: flex;
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
    .section__text-wrapper {
      margin-top: 10rem;
    }
    .video-wrapper {
      position: absolute;
      top: 50%;
      margin-left: 0;
      margin-right: 0;
      margin-top: -5rem;
      transform: translateY(-50%);
      right: 0;
      width: 55%;
      max-height: 80vh;
      max-height: calc(100vh - 20rem);
      &:before {
        padding-top: 80%;
        padding-top: Min(80%, 80vh);
        padding-top: Min(80%, calc(100vh - 20rem));
      }

      .play-btn {
        top: 80%;
      }

      .play-btn__border {
        display: block;
        width: auto;
        height: auto;
        transform: none;
        left: 100%;
        right: auto;
        svg {
          position: relative;
          path {
            stroke-dasharray: 750;
          }
          
        }
      }
    }
    .section__text-wrapper {
      width: 40%;
      width: calc( 45vw - (100vw - 100%)/2 );
      padding-right: 8rem;
    }
    .section__title {
      font-size: 4rem;
      margin-bottom: 4.5rem;
    }
    .section__sub-title {
      font-size: 1.8rem;
      margin-bottom: 4rem;
    }
    .section__list {
      margin-bottom: 8rem;
    }
    



  }
  /* ----- END section--specification----- */

  /* ----- BEGIN important-info----- */
  .important-info {
    &__title {
      font-size: 6rem;   
    }
    &__text {
      font-size: 1.6rem;
    }
  }
  /* ----- END important-info----- */



  /* ----- BEGIN section--for-whom----- */
  .section--for-whom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    .section__wrapper {
      // min-height: 100%;
      display: flex;
      flex-direction: column;

      &:before {
        content: '';
        position: absolute;
        top: -1rem;
        left: 0;right: 0;
        bottom: -1rem;
        background-image: url('../../images/content/decor-1.png');
        background-position: left top;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.05;
      }
      
    }

    .footer {
      margin-top: auto;
    }
    
    .container {
      display: flex;
      position: static;
    }

    .section__text-wrapper {
      width: 45%;
      width: calc( 45vw - (100vw - 100%)/2 );
      padding-right: 8rem;
    }

    .section__title {
      margin-top: 10rem;
      font-size: 2rem;
      margin-bottom: 6rem;
    }

    .section__text-content {
      font-size: 1.8rem;
      p {
        font-size: 1.8rem;
        margin-bottom: 3rem;
      }
    }

    .btn {
      margin-top: 10rem;
      margin-bottom: 15rem;
    }

    .section__img-wrapper {
      position: absolute;
      bottom: 0;
      margin-bottom: 7rem;
      margin-left: 0;
      margin-right: 0;
      // margin-top: -5rem;
      // transform: translateY(-50%);
      right: 0;
      width: 55%;
      max-height: 80vh;
      max-height: calc(100vh - 20rem);
      &:before {
        padding-top: 80%;
        padding-top: Min(80%, 80vh);
        padding-top: Min(80%, calc(100vh - 20rem));
      }

      .decor {
        font-size: 18rem;
        margin-bottom: -4rem;
      }
    }

  .footer {
    font-size: 1.2rem;
  }
  } 
  /* ----- END section--for-whom----- */
}
