@import '../core.scss';

@include minw( 968px ) {
  .main {
    height: 100vh;
  }
  .full-page-slider {
    height: 100vh;
  }

  .section {
    height: 100vh;
    overflow: auto;
    &__wrapper {

    }
  }

  .speller-check {
    font-size: 8rem;
    font-family: 'RubikMonoOne', sans-serif;
    max-width: 65rem;
  }

  .section {
    padding-top: 10rem;
    &__wrapper {
      
    }
    &__container {
  
    }
    &__text-wrapper {
  
    }
    &__title {
    
    }
    &__sub-title {
      font-size: 2rem;
      
    }
    &__sup-title {
      
    }
  }
  .section--first {
    overflow: hidden;
    .section__wrapper {
      height: 100%;
      background-image: url('../../images/content/decor-1.png');
      background-position: left top;
      background-size: contain;
      background-repeat: no-repeat;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .section__container {
      width: 100%;
    }
    .section__text-wrapper {
      
    }
    .section__video-wrapper {
      position: absolute;
      top: 50%;transform: translateY(-50%);
      margin-top: -5rem;
      right: 0;
      width: 55%;
      max-height: 80vh;
      max-height: calc(100vh - 20rem);
    }
    .section__title {
      font-size: 8rem;
      margin-top: 0;
      max-width: 65rem;
      span {
        z-index: 20;
        display: inline-block;
      }
    }
    .section__sub-title-wrapper {
      max-width: 35rem;
    }
    .section__sub-title {
      background-color: transparent;
    }
    .section__decor-arrow {
      margin-top: 1rem;
      margin-left: 4rem;
    }
    
  }

  /* ----- BEGIN video-wrapper ----- */
  .video-wrapper {
    cursor: pointer;
    &__play-btn {
      top: 50%;
      right: 100%;
      padding-right: 2rem;
      transform: translateX(50%);
      
    }
  }
  /* ----- END video-wrapper ----- */

  /* ----- BEGIN play-btn ----- */
  .play-btn {
    &__border {
      left: auto;
      right: 100%;
      transform: scaleX(-1);
      margin-right: 1rem;
      height: 7rem;
      overflow: hidden;

      svg {
        position: absolute;
        bottom: 0;
      }
    }
  }
  /* ----- END play-btn ----- */
} 
