@import '../core.scss';

.full-page-slider {

  &__wrapper {
    display: block;
  }
  /* -- SECTION -- */
  &__section {
    padding-top: 5rem;
    
  }
}

.section {
  &__wrapper {
    
  }
  &__container {

  }
  &__text-wrapper {

  }
  &__title {
    font-family: 'RubikMonoOne', sans-serif;
    text-transform: uppercase;

    span {
      font-family: 'RubikMonoOne', sans-serif;
      text-transform: uppercase;
    }
  }
  &__sub-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__sup-title {
    font-weight: 700;
  }
}

/* ----- BEGIN section-first ----- */
.section--first {

  .section__text-wrapper {
    margin-bottom: 2rem;
  }
  .section__title {
    font-size: 3.2rem;
    max-width: 26rem;
  }
  .section__sub-title-wrapper {
    max-width: 24rem;
  }
  .section__sub-title {
    background-color: #fff;
    z-index: 50;
    
  }
  .section__video-wrapper {
    // margin-left: -1.5rem;
    // margin-right: -1.5rem;
  }
  .section__decor-arrow {
    // margin-left: 3rem;
    position: absolute;
    z-index: 20;
    margin-top: -3rem;
    height: 7rem;
    width: 1px;
    background-color: #3a30f8;
    animation: decor_arrow_moves 3s ease-in-out infinite;
    svg {
      position: absolute;
      top: 100%;
      margin-top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 1.1rem;
      height: 1rem;
    }
  }
}
/* ----- END section-first ----- */


/* ----- BEGIN video-wrapper ----- */
.video-wrapper {
  cursor: pointer;
  &:before {
    content: '';
    position: relative;
    display: block;
    padding-top: 70%;
    pointer-events: none;
  }
  
  &__play-btn {
    position: absolute;
    padding-left: 2rem;
    padding-right: 1.5rem;
    top: 0;
    right: 0;
    margin-top: -1rem;

    z-index: 15;
  }

  &__poster {
    position: absolute;
    top: 0;
    left: 0;right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: 0.3s ease-in-out;
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }

  &.active {
    z-index: 100;
    .video-wrapper__video {
      visibility: visible;
      // z-index: 10;
    }
    .video-wrapper__poster {
      opacity: 0;
      pointer-events: none;
    }
    .video-wrapper__play-btn {
      opacity: 0;
    }
  }

}
/* ----- END video-wrapper ----- */


/* ----- BEGIN play-btn ----- */
.play-btn {
  transition: opacity 0.3s ease-in-out;
  &__icon {
    width: 5rem;
    height: 5rem;
    
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  &__text {
    position: absolute;
    
    bottom: 100%;
    right: 100%;
    margin-right: -2rem;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    
    font-size: 1rem;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }

  &__border {
    position: absolute;
    width: 2rem;
    height: 10rem;
    pointer-events: none;

    bottom: 0;
    left: 100%;
    margin-bottom: 1rem;
    margin-left: 1rem;
    svg {
      width: auto;
      height: auto;

      path {
        stroke-dasharray: 200;
        stroke-dashoffset: -200;
        transition: 2s ease-in-out;
      }
      circle {
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
    }
  
    // &.animated {
    svg {
      path {
        stroke-dashoffset: -399;
      }
      circle {
        opacity: 1;
      }
    }
  }
}
/* ----- END play-btn ----- */


/* ----- BEGIN section-advantages ----- */
.section--advantages {
  .section__text-wrapper {
    margin-top: 4rem;
    max-width: 30rem;
  }
  .section__sup-title-wrapper {

  }
  .section__sup-title {
    text-transform: uppercase;
    color: #3a30f8;
    font-size: 1.6rem;
  }
  .section__title {
    font-size: 2.6rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .section__sub-title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: initial;
  }

  .section__list {
    margin-top: 3rem;
  }

  .video-wrapper {
    margin-top: 4rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    .play-btn {
      padding: 0;
      top: 50%;
      left: 50%;
      margin: 0;
      right: auto;
      transform: translate(-50%, -50%);
    }
  }

  .color-slider {
    .gallery-thumbs {
      margin-top: 5rem;
    }
    .gallery-top {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
    
  }
}
/* ----- END section-advantages ----- */


/* ----- BEGIN list ----- */
.list {
  padding: 0;

  &__item {
    padding-left: 4rem;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5em;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0.5em;
      left: 0;
      height: 0.5rem;
      width: 3rem;
      background-color: #000;
    }
  }
}
/* ----- END list ----- */


/* ----- BEGIN color-slider ----- */
.color-slider {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  .gallery-thumbs {
    margin-bottom: 3.5rem;
    width: 27rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 6rem;
    margin-bottom: -3rem;
    .swiper-wrapper {
      // justify-content: center;
    }
    .swiper-slide {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 1px;
        height: 0rem;
        background-color: rgba(0,0,0,.3);
        left: 50%;
        transition: 0.3s ease-in-out;
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 3px;
        height: 3px;
        left: 50%;
        margin-left: -1px;
        background-color: rgba(0,0,0,.3);
        border-radius: 50%;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }

      &.swiper-slide-thumb-active {
        &:after {
          height: 4.5rem;
        }
        &:before {
          margin-top: 5.5rem;
          opacity: 1;
        }
      }

      .round {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      .round--green {
        background-color: #e2e837;
      }
      .round--blue {
        background-color: #00b6f1;
      }
      .round--red {
        background-color: #e23232;
      }
      .round--grey {
        background-color: #f0efef;
      }
      .round--black {
        background-color: #0c0c0c;
      }
    }
  }
  .gallery-top {
    .swiper-slide {
      .img-wrap {
        width: 100%;
        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }
        picture {
          position: absolute;
          top: 0;
          left: 1.5rem;right: 1.5rem;
          bottom: 0;
        }
        img {
          object-position: top center;
        }
      }
    }
  }
}
/* ----- END color-slider ----- */